.form__main
  = form_with(model: @post, local: true) do |f|
    %h2 新規投稿
    .form
      .form__nickname
        = f.text_field :name, class: "input-area", placeholder: "Nickname"
      .form__img
        = f.text_field :image, class: "input-area", placeholder: "Image Url"
      .form__textarea
        = f.text_area :text, class:"input-area", placeholder: "text" , rows: "10"
      .submit__btn
        = f.submit "SEND"